@import 'variables.module';
@import 'section.module';

.heroHeader {

  height: 400px;

  figure {
    height: 400px;
  }

  h1,
  h1 + span {
    font-family: var(--font-google);
  }

  h2 {
    font-family: inherit;
  }

  @media (max-width: 639px) {

    height: 180px;

    figure {
      height: 180px
    }

  }

}
