@import 'variables.module';
@import 'section.module';

.contact {

  background-image: url("../public/deco/white-marble.jpg");
  background-size: cover;

  .button {
    background-color: $secondaryColorPP;
  }

  .button:hover {
    background-color: $darkSecondaryColorPP;
  }

  input, textarea {
    --tw-ring-color: #ad9c44 !important;
  }

}
