@import 'variables.module';
@import 'section.module';

.navigation {

  background-color: $backgroundPP;
  color: $blackPP;
  border-color: rgba($mainColorPP,0.5);

  .logo {
    font-family: var(--font-google);
  }

  .active {
    background-color: $mainColorPP;
    border-radius: 0.375rem;
    color: $backgroundPP;
  }

  li:hover {
    a {
      background-color: rgba($mainColorPP, 0.5);
      color: $backgroundPP;
    }
  }

}
