@import 'variables.module';
@import 'section.module';

.parallaxPhotoSection {

  height: 600px;

  figure {
    height: 600px;
  }

  @media (max-width: 639px) {

    height: 150px;

    figure {
      height: 150px
    }

  }

}
