@import 'variables.module';
@import 'section.module';

.pianos {

  background-color: $mainColorPP;

  .button:hover {
    background-color: rgba(white,.5);
    border-color: transparent;
  }

  p a {
    text-decoration: underline;
  }

}
