@import 'variables.module';
@import 'section.module';

.service {

  background-image: url("../public/deco/white-marble.jpg");
  background-size: cover;

  .icon {
    background-color: $secondaryColorPP;
  }

  a {
    background-color: $secondaryColorPP;
  }

  a:hover {
    background-color: $darkSecondaryColorPP;
  }

}
