@import 'variables.module';
@import 'section.module';

.testimonies {

  .testimony {
    display: block !important;
  }

  blockquote {
    position: relative;
  }

  blockquote:before,
  blockquote:after {
    position: absolute;
    color: $mainColorPP;
    font-family: var(--font-google);
    font-size: 5em;
    opacity: .3;
  }

  blockquote:before {
    content: '“';
    left: -0.5em;
  }

  blockquote:after {
    content: '”';
    bottom: -0.5em;
    right: -0.5em;
  }

  blockquote p {
    display: inline;
  }

  .slickSlider {
    > div {
      transition: height .3s ease;
    }
  }

  @media (max-width: 639px) {

    blockquote:before {
      left: 50%;
      top: 50%;
      font-size: 15em;
      opacity: .1;
      transform: translate(-50%);
    }

    blockquote:after {
      display: none;
    }

  }

}
